body {
  font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1 {
  margin: 100px 0 20px;
  text-align: center;
}
button {
  background: -webkit-linear-gradient(-90deg, #eee, #ddd);
  border-radius: 3px;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: 20px 60px;
  -webkit-appearance: none;
}
