$pane-slide-duration = .2s
$pane-slide-transition = linear

html
body
	height 100%
	width 100%
	
@keyframes animate-left
	to
		transform translate3d(-100%, 0, 0)
	
@keyframes animate-center
	to
		transform translate3d(0, 0, 0)
	
@keyframes animate-right
	to
		transform translate3d(100%, 0, 0)

[bo-pane]
	bottom 0
	display block
	left 0
	margin auto
	position absolute
	right 0
	top 0
	transform translate3d(0, 0, 0)
	
	&.animate-left
		animation animate-left $pane-slide-duration $pane-slide-transition 1
		animation-fill-mode: forwards
	
	&.animate-center
		animation animate-center $pane-slide-duration $pane-slide-transition 1
		animation-fill-mode: forwards
	
	&.animate-right
		animation animate-right $pane-slide-duration $pane-slide-transition 1
		animation-fill-mode: forwards

	&.left
		transform translate3d(-100%, 0, 0)

	&.right
		transform translate3d(100%, 0, 0)
		
	&.hidden
		display none
		
	&.center
		display block